*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #8bdcf3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: #404c5e;
    padding: 24px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.2),5px 5px 15px rgba(0,0,0,0.3);
    transition: 0.5s; 
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;   
}

.calculator form input:hover{
    background-color: white;
    color: black;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
    background-color: white;
    color: black;
}

form input.equal:hover{
    background-color: cyan;
    color: black;
}

form input.operator{
    background-color: orange;
    color: black;
}


form img.image-light{
    height: 20px;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-left: 310px;
    cursor: pointer;
}

.light{
    background-color: #404c5e;
    color: black;
}

.dark{
    background-color: #2b2729;
    color: #fff;
}